---
import Layout from '@/layouts/Layout.astro'
import { fetchItems } from '@/services/items'
import CardCatalog from '@/components/ui/cards/CardCatalog'
import Pagination  from '@/components/ui/pagination/Pagination.astro'
import SectionTitle from '@/components/ui/text/SectionTitle.astro'
import { type Image } from '@/types/images.ts'
import type { Category } from '@/types/categories'

export const prerender = true;
export async function getStaticPaths({ paginate }: { paginate: any }) {
    const items = await fetchItems({ paginate: false })
    return paginate(items, { pageSize: 12})
}
let items : any
const { page } = Astro.props
const { data , url, currentPage, total, size } = page
if (!data) {
	throw new Error('No items found')
}

items = data
const { prev, next } = url
---

<Layout title="Muuch Maaya">
	<SectionTitle 
		title="Catálogo" 
		description=`${total} productos disponibles`
	/>
	<div class="container mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex items-center justify-center">
			<a href="/categorias" 
				style="max-width: 200px;"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4">Ver por categoría</a>
		</div>
		
		<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
			{items.map(({id, name, price, image, category, unit}: {id:string, name: string, price: number, image: Image, category: Category, unit: string}) => (
				<CardCatalog 
					client:visible
					id={id}
					name={name}
					price={price}
					image={image}
					unit={unit}
					category={category}
				/>
			))}
		</div>
		<div class="mt-12 grid place-content-center dark:text-gray-200"> <!-- Cambiado a 5 columnas -->
			<Pagination
				firstPage={prev ? '/catalogo' : null}
				previousPage={prev ? prev : null}
				nextPage={next ? next : null}
				lastPage={next ? `/catalogo/${Math.round(total / size)}` : null}
				currentPage={currentPage}
				totalPages={Math.round(total / size)}
			/>
		</div>
	</div>
	
</Layout>
