---
import { fetchCategories } from "@/services/items"
import Layout from "@/layouts/Layout.astro"
import CardCategory from "@/components/ui/cards/CardCategory.astro"
import SectionTitle from "@/components/ui/text/SectionTitle.astro"
import Pagination from "@/components/ui/pagination/Pagination.astro"
import type { Category } from "@/types/categories"



export const prerender = true;
export async function getStaticPaths({ paginate }: { paginate: any}) {
    const categories = await fetchCategories()
    return paginate(categories, { pageSize: 6 })
}
const { page } = Astro.props
const { data  , url, currentPage, total, size } = page
let categories : any
categories = data
const { prev, next } = url
---

<Layout title="categorias">
    <SectionTitle 
	title="Categorias" 
	description=`${total} categorías diferentes`
	/>
    <div class="bg-white py-20">
        <div class=" items-center justify-center mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {categories.map(({id, name, number_of_items, image}:  Category) => (
                    <CardCategory 
                        id={id}
                        name={name}
                        numberOfItems={number_of_items}
                        image={image}
                    />
                ))}
        
            </div>
            <div class="flex items-center justify-center my-8">
                <Pagination 
                firstPage={prev ? '/categorias' : null}
                previousPage={prev ? prev : null}
                nextPage={next ? next : null}
                lastPage={next ? `/categorias/${Math.round(total / size)}` : null}
                currentPage={currentPage}
                totalPages={Math.round(total / size) }
                />
            </div>
        </div>
    </div>
</Layout>